openai
gradio
socksio
docker
sqlalchemy
sqlite3
chromadb
httpx[socks]
psutil==6.0.0
BCEmbedding==0.1.5
llama-index==0.9.42
pypdf==5.1.0

# For zotero
pyzotero==1.6.2
fastapi==0.115.6
uvicorn==0.34.0
psutil==6.1.1

# For chrome plugin
markitdown==0.0.1a1
trafilatura==2.0.0
textrank4zh==0.3.0
docx2txt==0.8.0